{% from "macros/c_smal_banner.j2" import c_smal_banner %}
{{ c_smal_banner(smal.machine, smal.version) }}
#ifndef {{ header_guard }}
#define {{ header_guard }}

#include <stdint.h>

#define {{ smal.machine | upper }}_VERSION {{ smal.version }}

// CONSTANTS
{% for constant_name, constant_value in smal.constants.items() %}
#define {{ constant_name | upper }} {{ constant_value }}
{% endfor %}

// STATES
typedef enum _{{ smal.machine | lower }}_state_t {
{% for state in smal.states %}
    {{ smal.machine | upper }}_STATE_{{ state.name | upper }} = {{ state.id }},
{% endfor %}
} {{ smal.machine | lower }}_state_t;

// EVENTS
typedef enum _{{ smal.machine | lower }}_event_t {
{% for event in smal.events %}
    {{ smal.machine | upper }}_EVENT_{{ event.name | upper }} = {{ event.id }},
{% endfor %}
} {{ smal.machine | lower }}_event_t;

// COMMANDS
// TBD

// MESSAGES
// TBD

// ENUMS
//TBD

// STRUCTS
//TBD

#endif // {{ header_guard }}
