{% from "macros/c/c_autogen_banner_state_machine.j2" import c_autogen_banner_state_machine %}
{% from "macros/c/c_machine_constants.j2" import c_machine_constants %}
{% from "macros/c/c_machine_errors.j2" import c_machine_errors %}
{% from "macros/c/c_machine_events.j2" import c_machine_events %}
{% from "macros/c/c_machine_state_table_entry.j2" import c_machine_state_table_entry %}
{% from "macros/c/c_machine_states.j2" import c_machine_states %}
{% from "macros/c/c_machine_struct.j2" import c_machine_struct %}
{% from "macros/c/c_machine_version.j2" import c_machine_version %}
{% from "macros/c/c_machine_state_transition_table.j2" import c_machine_state_transition_table %}
{{ c_autogen_banner_state_machine(smal) }}
#ifndef {{ smal.metadata.header_guard }}
#define {{ smal.metadata.header_guard }}

#include <stdint.h>

{{ c_machine_version(smal) }}

// CONSTANTS
{{ c_machine_constants(smal) }}

// STATES
{{ c_machine_states(smal) }}

// EVENTS
{{ c_machine_events(smal) }}

// ERRORS
{{ c_machine_errors(smal) }}

{{ c_machine_struct(smal) }}

{{ c_machine_state_table_entry(smal, 3) }}

// STATE TABLE
{{ c_machine_state_transition_table(smal) }}

#endif // {{ smal.metadata.header_guard }}
